<!-- Customize the page your users see when they are redirected for authentication -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Helpjuice Login</title>

    {{ helpjuice_authentication_css }}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{ helpjuice_favicon_tag }}
  </head>
  <body>
    <div class="clean-container">
      <div class="header">
        <img alt="Helpjuice" width="146" src="{{ helpjuice_logo }}" />
      </div>

      <div class="body">
        {% if notice %}
          <p class="success">{{ notice }}</p>
        {% endif %}

        <h1>Reset Your Password</h1>

        {% if error %}
          <p class="error">{{ error }}</p>
        {% endif %}

        <form class="new_user" id="new_user" action="/users/password?_subdomain={{ account.subdomain }}" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="user[reset_password_token]" value="{{ token }}">
          <input type="password" name="user[password]" autofocus autocomplete="off" placeholder="Your new password">
          <input type="password" name="user[password_confirmation]" autocomplete="off" placeholder="Your new password, once more">

          <div class="actions">
            <input type="submit" name="commit" value="Save New Password" class="large btn-primary btn">
            <a class="blue-link" href="/users/sign_in?_subdomain={{ account.subdomain }}">Back to Login</a>
          </div>
        </form>

        <hr>

        <div class="two-cols">
          <div class="col">
            <i class="fa fa-phone"></i>
            +1 (833) 387 3877
          </div>
          <div class="col">
            <i class="fa fa-envelope"></i>
            <a href="mailto:support@helpjuice.com">support@helpjuice.com</a>
          </div>
        </div>
      </div>

      <div class="footer">
        Copyright © Helpjuice, Inc.
        2019.
        &nbsp;&nbsp;
        <a href="https://help.helpjuice.com/terms-of-service">Terms</a>
        &nbsp;&nbsp;
        <a href="https://help.helpjuice.com/privacy-policy">Privacy</a>
      </div>
    </div>
  </body>
</html>

