<div class="wrapper">
    <div class="request-sent">
      <h2>Obrigado!</h2>
      <p>Sua solicitacao foi recebida e nosso time de conteúdo já está de olho.</p>
      <a href="/">Voltar para o início</a>
    </div>
</div>
